openapi: 3.0.0
info:
  contact:
    email: webservices@constantcontact.com
    name: Constant Contact Public API
  description: Swagger build version 3.0.62
  license:
    name: Private
  title: Constant Contact API v3
  version: 1.0.185
servers:
- url: https://api.cc.email/v3
tags:
- description: Use the account endpoints and methods to get account information.
  name: Account Services
- description: "Bulk activities endpoints are used to manage large numbers of contacts,\
    \ lists, and tags."
  name: Bulk Activities
- description: "Endpoints and methods to get, create, delete, and update one or more\
    \ contacts."
  name: Contacts
- description: "Endpoints and methods to get, create, delete, and update one or more\
    \ contact lists."
  name: Contact Lists
- description: "Endpoints and methods to get, create, delete, and update one or more\
    \ contact tags."
  name: Contact Tags
- description: Contact reporting endpoints are used to gather activity reports for
    campaigns sent to a contact.
  name: Contacts Reporting
- description: "Endpoints and methods to get, create, delete, and update on one or\
    \ more custom fields."
  name: Contacts Custom Fields
- description: "Use email campaign endpoints and methods to get, create, and update\
    \ email campaigns."
  name: Email Campaigns
- description: "Use email campaigns A/B Test endpoints and methods to get, create,\
    \ delete and update A/B tests."
  name: Email Campaigns AB Tests
- description: Use the email reporting endpoints and methods to get reporting data
    for email campaigns you sent to contacts.
  name: Email Reporting
- description: "Use email scheduling endpoints and methods to schedule an email campaign\
    \ activity, unschedule an email campaign activity, and GET schedule information."
  name: Email Scheduling
- description: Use segments to target a subset of your contacts that are most likely
    to engage with a particular campaign.
  name: Segments
- description: Use landing pages reporting endpoints and methods to get reporting
    data about how a contact interacted with a campaign activity.
  name: Landing Pages Reporting
- description: Use SMS reporting endpoints and methods to get reporting data about
    SMS campaigns.
  name: SMS Reporting
- description: Use partner endpoints to manage client Constant Contact accounts under
    your partner account.
  name: Technology Partners
- description: Use partner webhooks to subscribe to billing event notifications from
    Constant Contact.
  name: Technology Partners Webhooks
- description: Endpoints and methods used for integrations.
  name: Integrations
paths:
  /account/user/privileges:
    get:
      description: "Use this method to return the user privileges associated with\
        \ your access token as an array of objects. This method returns all user privileges,\
        \ including privileges the V3 API does not currently use. Constant Contact\
        \ requires specific user privileges to make requests using the V3 API. For\
        \ more information, see the [User Privileges and Roles Overview](/api_guide/user_privileges.html)."
      operationId: getUserPrivileges
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getUserPrivileges_200_response_inner'
                type: array
          description: Request successful.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: Forbidden request. Your application is deactivated.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit: []
      - oauth2_access_code: []
      summary: GET User Privileges
      tags:
      - Account Services
  /account/summary:
    get:
      description: "Get account related details for a Constant Contact user account.\
        \ Use the `extra_fields` query parameter to include the `company_logo` and/or\
        \ `physical_address` details in the response body. For more details, see [Get\
        \ Account Summary Details](/api_guide/account_details_get.html)."
      operationId: getAccountDetails
      parameters:
      - description: "Use the `extra_fields` query parameter to include the `physical_address`\
          \ and/or `company_logo` details in the response body. Use a comma separated\
          \ list to include both (physical_address, company logo)."
        example: company_logo
        explode: true
        in: query
        name: extra_fields
        required: false
        schema:
          enum:
          - physical_address
          - company_logo
          format: csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountDetails_200_response'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_read
      - oauth2_access_code:
        - account_read
      summary: GET a Summary of Account Details
      tags:
      - Account Services
      x-authorization-privileges:
      - account:read
      x-sdk-methodName: getAccountDetails
    put:
      description: "Use this method to update account details for a Constant Contact\
        \ account, such as the email address or phone number. This PUT method provides\
        \ a partial update where only valid properties that you include in the request\
        \ body are updated and excluded properties are not overwritten. For more details,\
        \ see [Put (update) Account Summary Details](/api_guide/account_details_put.html)."
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccount_request'
        description: "In the request body, specify changes to account details by including\
          \ and modifying all or select `CustomerPut` properties. Changes to read-only\
          \ fields (`encoded_account_id`) are ignored."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAccount_request'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      summary: PUT (update) Account Details
      tags:
      - Account Services
      x-authorization-privileges:
      - account:update
      x-sdk-methodName: updateAccount
  /account/summary/physical_address:
    get:
      description: Use this method to get the address where the account's organization
        physically resides. The physical address is required to send emails and displays
        on the footer of every email that is sent from the account.
      operationId: getAccountPhysicalAddress
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountDetails_200_response_physical_address'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_read
      - oauth2_access_code:
        - account_read
      summary: GET the Physical Address for the Account
      tags:
      - Account Services
      x-authorization-privileges:
      - account:read
      x-sdk-methodName: getAccountPhysicalAddress
    post:
      description: "Use this method to add the address where the account's organization\
        \ physically resides. The physical address is required to send emails and\
        \ displays on the footer of every email that is sent from the account. The\
        \ country (<code>country_code</code>) where the account organization resides\
        \ determines whether you use the <code>state_code</code> to specify United\
        \ States (<code>US</code>) and Canada (<code>CA</code>) addresses, or use\
        \ the <code>state_name</code> to specify all other countries."
      operationId: addPhysicalAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAccountDetails_200_response_physical_address'
        description: "Include all `AccountPhysicalAddress` properties required for\
          \ the specified `country_code`. If a required property is not included or\
          \ incorrectly formatted, a 400 error message is returned. If the address\
          \ already exists, a 409 error message is returned."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountDetails_200_response_physical_address'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      summary: POST the Physical Address for the Account
      tags:
      - Account Services
      x-authorization-privileges:
      - account:update
    put:
      description: "Use this method to update the organization's physical address\
        \ for the Constant Contact user account. The physical address is required\
        \ to send emails and displays on the footer of every email that is sent from\
        \ the account. To get the current physical address, make a GET call to `/account/summary/physical_address`.\
        \ The country (<code>country_code</code>) where the account organization resides\
        \ determines whether you use the <code>state_code</code> to specify United\
        \ States (<code>US</code>) and Canada (<code>CA</code>) addresses, or use\
        \ the <code>state_name</code> to specify all other countries. For more details,\
        \ see [Put (update) the Physical Address for the Account](/api_guide/account_address_put.html).\
        \ You must have the role of Account Owner assigned to update account level\
        \ details. "
      operationId: updateAccountPhysicalAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAccountDetails_200_response_physical_address'
        description: Include all `AccountPhysicalAddress` properties required for
          the specified `country_code` and then update only those properties that
          you want to change. Excluding a non-read only field from the request body
          removes it from the physical address.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountDetails_200_response_physical_address'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      summary: PUT (update) the Physical Address for an Account
      tags:
      - Account Services
      x-authorization-privileges:
      - account:update
      x-sdk-methodName: updateAccountPhysicalAddress
  /account/emails:
    get:
      description: "Use this method to return a collection of email addresses for\
        \ the account associated with your access token. When you <a href=\"https://v3.developer.constantcontact.com/api_reference/index.html#!/Email_Campaigns/createEmailCampaignUsingPOST\"\
        \ target=\"_blank\">Create an Email Campaign<a/>, you must use an account\
        \ email address with a `CONFIRMED` status in the email campaign `from_email`\
        \ and `reply_to_email` headers.\n      \n\nUse the query parameters to filter\
        \ results. You can filter using `confirm_status`, `role_code`, or `email_address`.\
        \ For example, searching with `confirm_status=CONFIRMED` returns all confirmed\
        \ email addresses in the account. This method only supports one query parameter\
        \ at a time.\n"
      operationId: getAllAccountEmailAddresses
      parameters:
      - description: |
          Use the `confirm_status` query parameter to search for account emails using the email status. Possible values are `CONFIRMED` or `UNCONFIRMED`. You can also abbreviate the values of this query parameter and use `C` or `U`.
        explode: true
        in: query
        name: confirm_status
        required: false
        schema:
          enum:
          - CONFIRMED
          - C
          - UNCONFIRMED
          - U
          type: string
        style: form
      - description: "Use the `role_code` query parameter to search for account emails\
          \ that have a specific role. Each each email address in an account can have\
          \ multiple roles or no role. Possible values are `CONTACT`, `BILLING`, `REPLY_TO`,\
          \ `JOURNALING`, or `OTHER`. You can also abbreviate the value of this query\
          \ parameter and use `C`,`B`,`R`,`J`, or `O`."
        explode: true
        in: query
        name: role_code
        required: false
        schema:
          enum:
          - CONTACT
          - C
          - BILLING
          - B
          - JOURNALING
          - J
          - REPLY_TO
          - R
          - OTHER
          - O
          type: string
        style: form
      - description: Use the `email_address` query parameter to search for a specific
          account email address.
        explode: true
        in: query
        name: email_address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getAllAccountEmailAddresses_200_response_inner'
                type: array
          description: Request successful.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_read
      - oauth2_access_code:
        - account_read
      summary: GET a Collection of Account Email Addresses
      tags:
      - Account Services
      x-authorization-privileges:
      - account:read
      x-sdk-methodName: getAllAccountEmailAddresses
    post:
      description: "Use this method to add a new email address to a Constant Contact\
        \ account. If the email address you are adding already exists in the account\
        \ the API will return a 409 conflict error. \n\nWhen you add a new email address\
        \ to an account, Constant Contact automatically sends an email to that address\
        \ with a link to confirm it. After a user clicks that link, the account email\
        \ status changes from `UNCONFIRMED` to `CONFIRMED`. You can use confirmed\
        \ account email addresses in the email campaign `from_email` and `reply_to_email`\
        \ headers. For more use case information, see [Add an Account Email Address](/api_guide/account_post_emails.html)\
        \ in the API guide. \n"
      operationId: addAccountEmailAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addAccountEmailAddress_request'
        description: A JSON request payload containing the new email address you want
          to add to the Constant Contact account.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addAccountEmailAddress_201_response'
          description: Request successful.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - account_update
      - oauth2_access_code:
        - account_update
      summary: POST Add an Account Email Address
      tags:
      - Account Services
      x-authorization-privileges:
      - account:update
  /activities:
    get:
      description: "This endpoint returns a collection of activities. Use the state\
        \ query parameter to include only activities with a specific status (processing,\
        \ completed, cancelled, failed, or time_out). Use the limit query parameter\
        \ to define the number of activities returned per page. Learn [more](/api_guide/activity_status.html)."
      operationId: getAllActivities
      parameters:
      - description: "Specifies the number of results displayed per page of output,\
          \ from 1 - 500, default = 50."
        example: 25
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "Use this parameter to filter the response to include only activities\
          \ in one of the following states: cancelled, completed, failed, processing,\
          \ or timed_out."
        example: processing
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - processing
          - completed
          - cancelled
          - failed
          - timed_out
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllActivities_200_response'
          description: Request Successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET Activity Status Collection
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: getAllActivities
  /activities/{activity_id}:
    get:
      description: This endpoint returns an activity status report.
      operationId: getActivityById
      parameters:
      - description: The unique ID of the activity to GET
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: activity_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getActivityById_200_response'
          description: Request Successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: Resource not found for the activity_id provided
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET an Activity Status
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: getActivityById
  /activities/contact_exports:
    post:
      description: "Use this method to create an activity that exports contacts and\
        \ contact details to a CSV file.  You can choose to export all contacts in\
        \ your account (default) or you can use parameters to filter on which contacts\
        \ to export. After Constant Contact finishes processing the activity, use\
        \ the `results` link in the response body to retrieve the CSV file."
      operationId: createExportActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createExportActivity_request'
        description: A JSON payload that specifies the contacts (rows in the CSV file)
          and contact properties (columns in the CSV file) you want to export.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createExportActivity_201_response'
          description: "Request successful, queued for processing."
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Export Contacts to a File
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createExportActivity
  /contact_exports/{file_export_id}:
    get:
      description: "Use this endpoint to retrieve (GET) a CSV file containing exported\
        \ contacts by providing the `activity_id` of a completed CSV export activity.\
        \ \n"
      operationId: getCSVExportFile
      parameters:
      - description: "The unique ID of the exported file provided in the results:\
          \ section of the export contacts activity response."
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: file_export_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                description: CSV file containing exported contacts
                type: string
          description: Request Successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Retrieve Exported Contacts File
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: getCSVExportFile
  /activities/contact_delete:
    post:
      description: "Use this endpoint to bulk delete contacts in an account. Contacts\
        \ to delete are specified by contact_id (up to 500), or by list_id (up to\
        \ 50 lists); all contacts that are members of the list_ids are deleted. Deleted\
        \ contacts won’t receive email from you, and they don’t count as active contacts.\
        \ Unlike unsubscribed contacts, deleted contacts can be added back to an account.\
        \ [Learn how to revive deleted contacts](/api_guide/contacts_delete.html#revive)."
      operationId: createDeleteActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeleteActivity_request'
        description: "The request body contains an array of contact_ids <em>or</em>\
          \ list_ids. All contact_ids provided are deleted, or all members of each\
          \ specified list_id are deleted."
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDeleteActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Delete Contacts in Bulk
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createDeleteActivity
  /activities/contacts_file_import:
    post:
      description: "This multipart method creates an asynchronous background job that\
        \ adds or updates contacts by importing a CSV file containing contact information.\
        \ Do not use a Content-Type header value with this method.\n\nImporting a\
        \ new contact email address automatically sets the contact's `permission_to_send`\
        \ property as `implicit` and the `opt_in_source` property as `Account`. Importing\
        \ an existing contact only updates the contact properties you include in the\
        \ request.\nImporting contacts with `sms_number`s requires using the `sms_permission_to_send`\
        \ parameter  to specify permissions for all contacts being imported. Set to\
        \ `explicit` to specify that all contacts either provided explicit permission.\
        \ Set to `not_set` if permission was not provided. If `explicit`, you must\
        \ also include the `sms_consent_date` as a column header to include the date\
        \ the contact consented to receiving SMS messages.\nContacts must have either\
        \ an email address or an SMS number defined.\n \nThe CSV file has a maximum\
        \ of 40,000 lines including the header row (39,999 contacts) and a maximum\
        \ file size of 4 megabytes (MB).  Lines above the 40,000 line maximum are\
        \ not processed. If the request body exceeds 4 MB, only the contacts contained\
        \ in the first 4 MB are imported and the remaining data is dropped."
      operationId: createCSVImportActivity
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createCSVImportActivity_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCSVImportActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "415":
          description: "1. This endpoint requires that Content-Type be unspecified\
            \ 2. Wrong file format, upload file must be of type .csv"
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Import Contacts using a CSV File
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createCSVImportActivity
  /activities/contacts_json_import:
    post:
      description: "Use this method to create an asynchronous background job that\
        \ adds new contacts or updates existing contacts by importing a JSON payload.\
        \ This method requires a request body that contains the contact data you are\
        \ importing and the contact lists to which you want to add the imported contacts.\
        \ A contact's data must include an `email` address and/or `sms_number`. The\
        \ `sms_number` must be a US phone number to associate with the contact's SMS-enabled\
        \ phone. Valid formats are <code>1231231234</code> or <code>123-123-1234</code>\
        \ (the country code must be valid).\n\nImporting a new contact using this\
        \ method automatically sets the contact's email `permission_to_send` property\
        \ to `implicit` and the `opt_in_source` property as `Account`. Importing an\
        \ existing contact only updates the contact properties you include in the\
        \ request. For each contact, you can import up to three addresses and three\
        \ phone numbers. International phone numbers are currently not supported.\
        \      \n\nTo import custom fields, prefix the custom field name with `cf:`\
        \ and add it as a contact property. For example, use the property name `cf:first_name`\
        \ if you have a custom field named `first_name`. The custom field must already\
        \ exist in the Constant Contact account you are using. Each contact can contain\
        \ up to 25 custom fields.\n\nTo include a contact's `sms_number`, if the contact\
        \ provided explicit permission to receive SMS messages, you must set the `sms_permission_to_send`\
        \ property to `explicit` and specify the date of consent using the `sms_consent_date`\
        \ column header. If explicit permission was not provided, set `sms_permission_to_send`\
        \ to `not_set` (the `sms_consent_date` is not required). If the `sms_consent_date`\
        \ is not set, SMS messages cannot be sent to contacts and `sms_permission_to_send`\
        \ defaults to `not_set`. Valid value formats for `sms_consent_date` include\
        \ MM/DD/YYYY, M/D/YYYY, YYYY/MM/DD, YYYY/M/D, YYYY-MM-DD, YYYY-M-D,M-D-YYYY,\
        \ or M-DD-YYYY. \n\nThe request body payload has a maximum size of 4 megabytes\
        \ (MB). If the request body exceeds 4 MB, this method only imports the first\
        \ 4 MB and drops the remaining data. Use the activity URL to check the status\
        \ of the import activity request."
      operationId: createImportJSONActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createImportJSONActivity_request'
        description: The JSON request payload that contains the contact data and contact
          lists for the import.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCSVImportActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Import Contacts using a JSON Payload
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createImportJSONActivity
  /activities/remove_list_memberships:
    post:
      description: "Use this method to create an activity that removes contacts from\
        \ one or more contact lists. Use the properties in the `source` object to\
        \ remove specific contacts from your lists. Use the `list_ids` array to specify\
        \ the target lists from which contacts are removed. Optionally, if the source\
        \ is  `all_active_contacts` (billable) or `list_ids`, use the `exclude` object\
        \ to exclude specific contacts from being removed from the destination lists."
      operationId: createListRemoveActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createListRemoveActivity_request'
        description: The JSON payload used to create the Remove Contacts from Lists'
          activity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createListRemoveActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Remove Contacts from Lists
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createListRemoveActivity
  /activities/add_list_memberships:
    post:
      description: Use this method to create an activity that adds contacts to one
        or more lists. Each contact can be a member of up to 50 lists. Use the properties
        in the `source` object to specify the contacts you want to add to lists. Use
        the `list_ids` array to specify which lists you want to add your source contacts
        to.
      operationId: createListAddActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createListAddActivity_request'
        description: The JSON payload used to create the 'add contacts to lists' activity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createListRemoveActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Add Contacts to Lists
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createListAddActivity
  /activities/list_delete:
    post:
      description: 'Use this endpoint to delete up to 100 contact lists in an account. '
      operationId: createListDeleteActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createListDeleteActivity_request'
        description: An array of `list_id`'s to delete.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createListDeleteActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Delete Contact Lists
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createListDeleteActivity
  /activities/contacts_taggings_remove:
    post:
      description: |-
        Use this method to create an asynchronous activity that removes one or more tags from all contacts meeting your contact filtering criteria. Filtering criteria must include the `source` type used to identify contacts from which the specified tags (`tag_id`) are removed.
        Source types are mutually exclusive. If the specified source is either `all_active_contacts` or `list_ids`, you can optionally choose to `exclude` specified contacts by `contact_id`. Use the activity link in the results to check the status of your request."
        For more use case information, see "[Remove Tags from Contacts](/api_guide/remove_tagging_activity.html)
      operationId: createTagRemoveActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTagRemoveActivity_request'
        description: The JSON payload used to create an asynchronous activity that
          removes tags from contacts meeting your specified contact filtering criteria.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTagRemoveActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Remove Tags from Contacts
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createTagRemoveActivity
  /activities/contacts_taggings_add:
    post:
      description: |-
        Use this method to create an asynchronous activity that adds one or more tags to all contacts meeting your contact filtering criteria. Use the `source` type to identify contacts from which the specified tags (`tag_id`) are added.
        Source criteria are mutually exclusive. If the source is `all_active_contacts` or `list_ids`, you can optionally choose to `exclude` contacts by `contact_id`. Use the activity link in the results to check the status of your request.
        For more use case information, see "[Add Tags to Contacts](/api_guide/add_tagging_activity.html)
      operationId: createTagAddContactActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTagRemoveActivity_request'
        description: The JSON payload used to create an asynchronous activity that
          adds tags to contacts that meet your specified contact filtering criteria.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTagRemoveActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Add Tags to Contacts
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createTagAddContactActivity
  /activities/contacts_tags_delete:
    post:
      description: Use this method to create an asynchronous activity that deletes
        up to 500 tags. Deleted tags are automatically removed from tagged contacts.
        Use the `tag_ids` array of string values in the request body to specify which
        tags to delete.
      operationId: createTagDeleteActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTagDeleteActivity_request'
        description: An array of string values (`tag_id`s) to delete.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTagRemoveActivity_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Delete Tags
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: createTagDeleteActivity
  /activities/custom_fields_delete:
    post:
      description: 'Use this endpoint to delete up to 100 custom fields for an account. '
      operationId: postCustomFieldDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCustomFieldDelete_request'
        description: An array of `custom_field_id`'s to delete.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postCustomFieldDelete_201_response'
          description: Request successful. Activity queued for processing.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "429":
          description: "Too many requests. You exceeded 1,000 queued activities for\
            \ this user account."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Delete Custom Fields
      tags:
      - Bulk Activities
      x-authorization-privileges:
      - contacts:write
  /segments:
    get:
      description: "Use this method to get a list of all segments associated with\
        \ the account. You can sort segment results and limit the number of segments\
        \ that display per page. Deleted segments are excluded from the results. For\
        \ more use case information, see [Get All Segments](/api_guide/segment_get_all.html)\
        \ in the API guide."
      operationId: getAllSegments
      parameters:
      - description: The number of segments to return on a page.
        example: "1000"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: "1000"
          type: string
        style: form
      - description: "Specify the segment sort order to use. Sort by name (`sort_by=name`)\
          \ in ascending order, or sort by date (`sort_by=date`) in descending order\
          \ with the most recently updated segments listed first."
        example: sort_by=date
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllSegments_200_response'
          description: Request successful.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "415":
          description: Unsupported Media Type.
        "429":
          description: Too many requests. You exceeded the request rate limit.
        "500":
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET all Segments
      tags:
      - Segments
      x-authorization-privileges:
      - contacts:lists:read
      x-sdk-methodName: getAllSegments
    post:
      description: |-
        Use this method to create a new segment. You create segments to target a subset of your contacts that meet your specific criteria for a marketing campaign. The segment `name` must be unique. The `segment_criteria` requires single-string escaped JSON. Constant Contact uses the contact data that you specify in the `segment_criteria` to evaluate and identify the contacts you want to target. Contact data can be grouped from different data sources, including:

          -  **`tracking`**: Supports **or** and **and** groups.


          -  **`contact`**: Supports **or** and **and** groups.


          -  **`list_membership`**: Supports **or** groups.

          -  **`tags`**: Supports **or** groups.

        If you do not specify `list_membership` as criteria, Constant Contact evaluates all contacts in your account. To avoid returning a 400 error response, when specifying the `segment_criteria` do not request more than 500 email campaigns or a date range greater than 1825 days (5 years) be evaluated.

        For more use case information, see the [Segments Overview](/api_guide/segments_overview.html) in the API guide.
      operationId: createSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSegment_request'
        description: The segment `name` and `segment_criteria` (requires single-string
          escaped JSON).
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSegment_201_response'
          description: Segment successfully created.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: POST (create) a Segment
      tags:
      - Segments
      x-authorization-privileges:
      - contacts:lists:write
  /segments/{segment_id}:
    delete:
      description: |-
        Use this method to delete a segment from your account. Before deleting a segment, verify that the segment is not associated with a scheduled campaign.

        Deleted segments do not display in the results when using the `GET /segments` endpoint. If you know the `segment_id`, you can use the `GET /segments/{segment_id}` endpoint to view the deleted segment's details. A segment's details are preserved for external reference purposes, such as displaying the segment name in a campaign's history. For more use case information, see [Delete a Segment](/api_guide/segment_delete.html) in the API guide.
      operationId: deleteSegment
      parameters:
      - description: The system generated ID that uniquely identifies the segment.
        example: 14
        explode: false
        in: path
        name: segment_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: The segment was successfully deleted.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: DELETE a Segment
      tags:
      - Segments
      x-authorization-privileges:
      - contacts:lists:write
    get:
      description: "Use this method to get details about a segment, including the\
        \ segment criteria. If you know the `segment_id` You can also use this method\
        \ to get details about a deleted segment. For more use case information, see\
        \ [Get a Segment's Details](/api_guide/segment_get.html) in the API guide."
      operationId: getSegmentById
      parameters:
      - description: The system-generated unique ID that identifies a segment.
        example: 14
        explode: false
        in: path
        name: segment_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSegment_201_response'
          description: The segment was successfully returned.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "404":
          description: The requested resource was not found.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET a Segment's Details
      tags:
      - Segments
      x-authorization-privileges:
      - contacts:lists:read
      x-sdk-methodName: getSegmentById
    put:
      description: "Use this method to update an existing segment's name (`name`)\
        \ and/or contact selection criteria (`segment_criteria`). You must specify\
        \ both the `name` and the `segment_criteria` in the request body, even if\
        \ you don't plan to update both. The segment's name must be unique and the\
        \ JSON must be valid (requires single-string escaped JSON). To avoid returning\
        \ a 400 error response, when specifying the `segment_criteria` do not request\
        \ more than 500 email campaigns or a date range greater than 1825 days (5\
        \ years) be evaluated. For more use case information, see [Update Segment\
        \ Details](/api_guide/segment_update.html) in the API guide."
      operationId: updateSegment
      parameters:
      - description: The system generated ID that uniquely identifies the segment
          that you want to modify.
        example: 14
        explode: false
        in: path
        name: segment_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSegment_request'
        description: "Include both the `name` and `segment_criteria` (single-string\
          \ escaped JSON) in the body request, then make updates to either or both."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSegment_201_response'
          description: The segment was successfully updated.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "409":
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: PUT (update) a Segment
      tags:
      - Segments
      x-authorization-privileges:
      - contacts:lists:write
  /segments/{segment_id}/name:
    patch:
      description: "Use this method to update an existing segment `name` with a new\
        \ unique name in the request body. For more use case information, see [Rename\
        \ a Segment](/api_guide/segment_rename.html) in the API guide."
      operationId: updateSegmentName
      parameters:
      - description: The system generated ID that uniquely identifies the segment
          that you want to modify.
        example: 14
        explode: false
        in: path
        name: segment_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSegmentName_request'
        description: "Include the existing segment `name` in the body request, then\
          \ rename the segment using a unique new name."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSegment_201_response'
          description: The segment name was successfully updated.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "409":
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: PATCH (rename) a Segment
      tags:
      - Segments
      x-authorization-privileges:
      - contacts:lists:write
  /contacts/{contact_id}:
    delete:
      description: "Deletes the contact identified by the contact_id path parameter.\
        \ Deleted contacts won't receive email from you, and they don't count as active\
        \ contacts. Unlike unsubscribed contacts, deleted contacts can be revived,\
        \ or added back to an account. Learn how to [revive deleted contacts](/api_guide/contacts_delete.html#revive)."
      operationId: deleteContact
      parameters:
      - description: Unique ID of contact to DELETE
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Request successful; No content returned
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: DELETE a Contact
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:write
    get:
      description: This endpoint GETs a specific contact resource (contact_id). Use
        the `include` query parameter to add any of the available contact sub-resources
        to the response payload.
      operationId: getContactById
      parameters:
      - description: Unique ID of contact to GET
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Use `include` to specify which contact sub-resources to include\
          \ in the response. Use a comma to separate multiple sub-resources. Valid\
          \ values: `custom_fields`, `list_memberships`, `phone_numbers`, `street_addresses`,\
          \ `notes`, and `taggings`."
        example: "custom_fields,list_memberships"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - custom_fields
          - list_memberships
          - phone_numbers
          - street_addresses
          - taggings
          - notes
          format: csv
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactById_200_response'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET a Contact
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:read
      x-sdk-methodName: getContactById
    put:
      description: "The PUT method updates an existing contact. You must include the\
        \ `update_source` property in the PUT request payload. To restore  a deleted\
        \ contact you must specify the `update_source` as `Account`. When updating\
        \ any resource using PUT, all properties are updated, overwriting all previous\
        \ values. Any properties left blank or not included in the request are overwritten\
        \ with null value - however this does not apply to contact subresources. \n\
        \nAdd or change any of the subresources by including them in the PUT request\
        \ payload. Omitted subresources are not overwritten with null. If the contact\
        \ being updated is deleted, the contact will be revived.\nIf `email_address`\
        \ is specified: <div class=\"Msg\"><p class=\"note-text\"> **Only use this\
        \ method when a contact gives you their explicit permission to send them an\
        \ email. It is a violation of anti-spam and telemarketing laws, as well as\
        \ a serious violation of the Constant Contact Terms of Service to use the\
        \ Opt-in features of the API to opt a contact back in without his or her own\
        \ action and consent.</p></div>\n\nIf `sms_channel` is specified: <div class=\"\
        Msg\"><p class=\"note-text\">Only use this method when a contact gives you\
        \ their explicit permission to send them an SMS. It is a violation of anti-spam\
        \ and telemarketing laws, as well as a serious violation of the Constant Contact\
        \ Terms of Service to use the Opt-in features of the API to opt a contact\
        \ back in without his or her own action and consent.</p></div>"
      operationId: updateContact
      parameters:
      - description: Unique ID of contact to update
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateContact_request'
        description: "JSON payload defining the contact object, with updates. Any\
          \ properties left blank or not included in the PUT payload are overwritten\
          \ with null value - does not apply to contact subresources."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactById_200_response'
          description: Contact resource has been updated
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "409":
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: PUT (update) a Contact
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: updateContact
  /contacts:
    get:
      description: |-
        Use this method to return a collection of contacts. Use the query parameters to search for contacts that match specific contact properties and sub-resource properties as criteria. For example, you can search using the contact's `email` address, `lists` memberships, and by the date range that a contact was created or updated. Use the `limit` query parameter to limit the number of results returned per page. Use the `include` query parameter to include contact sub-resources in the response and `include_count` to include the total number of contacts that meet your specified search criteria.

        By default, this method returns all contacts that are not deleted. Use the `status` query parameter with the value `all` to return all contacts including deleted contacts.
      operationId: getAllContacts
      parameters:
      - description: "Use the `status` query parameter to search for contacts by status.\
          \ This parameter accepts one or more comma separated values: `all`, `active`,\
          \ `deleted`, `not_set`, `pending_confirmation`, `temp_hold`, and `unsubscribed`."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - all
          - active
          - deleted
          - not_set
          - pending_confirmation
          - temp_hold
          - unsubscribed
          format: csv
          type: string
        style: form
      - description: Use the `email` query parameter to search for a contact using
          a specific email address.
        example: xyz@example.com
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: "Use the `lists` query parameter to search for contacts that\
          \ are members of one or more specified lists. Use a comma to separate multiple\
          \ `list_id` values, up to a maximum of 25."
        example: "04fe9a-a579-43c5-bb1a-58ed29bf0a6a,04fe9a-a579-43c5-bb1a-58ed29bf0a6a,04fe9a-a579-43c5-bb1a-58ed29bf0a6a"
        explode: true
        in: query
        name: lists
        required: false
        schema:
          maximum: 25
          type: string
        style: form
      - description: "Use to get contacts that meet the segment criteria for a single\
          \ specified `segment_id`. This query parameter can only be combined with\
          \ the limit query parameter. When using the `segment_id` query parameter,\
          \ the V3 API may return a 202 response code instead of a 200 response. The\
          \ 202 response code indicates that your request has been accepted, but not\
          \ fully completed. Retry sending your API request to return the completed\
          \ results and a 200 response code."
        example: "14"
        explode: true
        in: query
        name: segment_id
        required: false
        schema:
          maximum: 1
          type: string
        style: form
      - description: Use to get contact details for up to 50 specified tags. Use a
          comma to separate each `tag_id`.
        example: fa85f64-5717-4562-b3fc-2c963f66afa6
        explode: true
        in: query
        name: tags
        required: false
        schema:
          format: uuid
          maximum: 50
          type: string
        style: form
      - description: "Use `updated_after` to search for contacts that have been updated\
          \ after the date you specify. To search for updated contacts within a date\
          \ range, specify both `updated_after` and `updated_before` dates. Accepts\
          \ ISO-8601 formatted dates."
        example: 2022-01-01T16:37:59.091Z
        explode: true
        in: query
        name: updated_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Use `updated_before` to search for contacts that have been updated\
          \ before a specified date. To search for updated contacts within a date\
          \ range, specify both `updated_after` and `updated_before` dates. Accepts\
          \ ISO-8601 formatted dates."
        example: 2022-07-16T16:37:59.091Z
        explode: true
        in: query
        name: updated_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Use `created_after` to search for contacts created after a specified\
          \ date. To search for contacts created within a date range, specify both\
          \ `created_after` and `created_before` dates. Accepts ISO-8601 formatted\
          \ dates."
        example: 2021-01-01T16:37:59.091Z
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Use `created_before` to search for contacts created before a\
          \ specified date. To search for contacts created within a date range, specify\
          \ both `created_after` and `created_before` dates. Accepts ISO-8601 formatted\
          \ dates."
        example: 2022-07-16T16:37:59.091Z
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Use `optout_after` to search for contacts that unsubscribed after
          a specified date.
        example: 2022-11-16T16:20:59.091Z
        explode: true
        in: query
        name: optout_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Use `optout_before` to search for contacts that unsubscribed
          before a specified date.
        example: 2022-11-16T16:20:59.091Z
        explode: true
        in: query
        name: optout_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Use `include` to specify which contact sub-resources to include\
          \ in the response. Use a comma to separate multiple sub-resources. Valid\
          \ values: `custom_fields`, `list_memberships`, `taggings`, `notes`,`phone_numbers`,\
          \ `street_addresses`."
        example: "custom_fields,list_memberships"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - custom_fields
          - list_memberships
          - phone_numbers
          - street_addresses
          - taggings
          - notes
          format: csv
          type: string
        style: form
      - description: "Use to get contacts by their SMS status. This parameter accepts\
          \ one or more comma separated values: `all`, `explicit`, `unsubscribed`,\
          \ `pending_confirmation`, `not_set`."
        explode: true
        in: query
        name: sms_status
        required: false
        schema:
          enum:
          - all
          - explicit
          - unsubscribed
          - pending_confirmation
          - not_set
          format: csv
          type: string
        style: form
      - description: Set `include_count=true` to include the total number of contacts
          (`contacts_count`) that meet all search criteria in the response body.
        example: "true"
        explode: true
        in: query
        name: include_count
        required: false
        schema:
          type: boolean
        style: form
      - description: "Specifies the number of results displayed per page of output\
          \ in the response, from 1 - 500, default = 50."
        example: 25
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllContacts_200_response'
          description: Request successful
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllContacts_200_response'
          description: Accepted
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET Contacts Collection
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:read
      x-sdk-methodName: getAllContacts
    post:
      description: |2-

        Creates a new contact resource. You must include the `create_source` property and at least one of the following properties: `first_name`, `last_name`, a unique `email_address` (specified using the `EmailAddress` object), or the `sms_channel` property (specified using the `ContactSmsChannel` object).

        <div class="Msg"><p class="note-text">If `email_address` is specified: **Only use this method when a contact gives you their explicit permission to send them an email. It is a violation of anti-spam and telemarketing laws, as well as a serious violation of the Constant Contact Terms of Service to use the Opt-in features of the API to opt a contact back in without his or her own action and consent.</p></div>

        If `sms_channel` is specified: <div class="Msg"><p class="note-text">Only use this method when a contact gives you their explicit permission to send them an SMS. It is a violation of anti-spam and telemarketing laws, as well as a serious violation of the Constant Contact Terms of Service to use the Opt-in features of the API to opt a contact back in without his or her own action and consent.</p></div>
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createContact_request'
        description: The JSON payload defining the contact
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactById_200_response'
          description: New contact successfully created
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "409":
          description: Conflict. The resource you are creating or updating conflicts
            with an existing resource.
        "415":
          description: "Unsupported Media Type; the payload must be in JSON format,\
            \ and Content-Type must be application/json"
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: POST (create) a Contact
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:write
  /contacts/sign_up_form:
    post:
      description: "Use this method to create a new contact or update an existing\
        \ contact. In the request body, this method requires including the `list_memberships`\
        \ array as well as either the contact's `email_address` string or `sms_channel`\
        \ object which includes the contact's SMS number. The information you specify\
        \ determines if a new contact is either created (the email address or SMS\
        \ number does not already exist in the account), or if an existing contact\
        \ is updated (the email address or SMS number already exists). The SMS product\
        \ feature does not need to be enabled to include a contacts SMS details.\n\
        \nUpdates to existing contacts are partial updates. This method only updates\
        \ the contact properties you include in the request body. Updates append new\
        \ contact lists or custom fields to the existing `list_memberships` or `custom_fields`\
        \ arrays.\n\nIf `email_address` is specified: <div class=\"Msg\"><p class=\"\
        note-text\">Only use this method when a contact gives you their explicit permission\
        \ to send them an email. It is a violation of anti-spam and telemarketing\
        \ laws, as well as a serious violation of the Constant Contact Terms of Service\
        \ to use the Opt-in features of the API to opt a contact back in without his\
        \ or her own action and consent.</p></div>\n\nIf `sms_channel` is specified:\
        \ <div class=\"Msg\"><p class=\"note-text\">Only use this method when a contact\
        \ gives you their explicit permission to send them an SMS. It is a violation\
        \ of anti-spam and telemarketing laws, as well as a serious violation of the\
        \ Constant Contact Terms of Service to use the Opt-in features of the API\
        \ to opt a contact back in without his or her own action and consent.</p></div>\n\
        \nWhen this method creates a new contact, it returns a 201 response code.When\
        \ this method updates an existing contact, it returns a 200 response code.\
        \ Updating a deleted contact restores the contact.\n\nThe method automatically\
        \ modifies the contact's `permission_to_send` and `opt_in_source` properties\
        \ depending on the [Confirmed Opt-In](https://knowledgebase.constantcontact.com/articles/KnowledgeBase/5533-obtain-permission-to-send-email-campaigns-to-your-contacts-by-using-confirmed-opt-in)\
        \ Constant Contact account setting:\n\nIf Confirmed Opt-in is _enabled_, this\
        \ method automatically sets the `permission_to_send` property as `pending_confirmation`\
        \ for new contacts. If Confirmed Opt-in is _disabled_, this method automatically\
        \ sets the `permission_to_send` property as explicit and the `opt_in_source`\
        \ property as `Contact` for new contacts. Updated contacts have their `permission_to_send`\
        \ property set as explicit.\n      "
      operationId: createOrUpdateContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOrUpdateContact_request'
        description: "A JSON request body payload that contains the contact resource\
          \ you are creating or updating. The request body must contain the `email_address`\
          \ property and `list_memberships` array, or the `sms_channel` object."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOrUpdateContact_200_response'
          description: Contact successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOrUpdateContact_200_response'
          description: Contact successfully created.
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "409":
          description: Conflict. You sent simultaneous requests that are attempting
            to modify the same contact.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: Create or Update a Contact
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:write
  /contacts/contact_id_xrefs:
    get:
      description: |-
        <div class="Msg Msg--warning"><p class="note-text">Use this endpoint to migrate your locally stored V2 contact ids to the new V3 format. Developers are expected to use this endpoint sparingly. This endpoint is NOT intended for regular or repeated use. Constant Contact will eventually deprecate and remove this endpoint.</p></div>

        This GET call retrieves a collection of cross-referenced contact sequence IDs (`id` used in the V2 API) and UUIDs (`contact_id` used in the V3 API). This endpoint is intended for developers who have an existing V2 API integration, and are migrating their users to a new V3 API integration. The V2 and V3 APIs use different resource ID formats. Use the `sequence_ids` query parameter to specify a set of comma delimited V2 contacts ids to cross-referenced with their V3 `contact_ids`. See [Migrating to V3](/api_guide/migration_overview.html) to learn more.
      operationId: getContactIdXrefs
      parameters:
      - description: Comma delimited list of V2 API contact `ids` to cross-reference
          with the V3 API `contact_id` value. Endpoint accepts a maximum of 500 ids
          at a time.
        example: "1995998026,1882999944,1775099999"
        explode: true
        in: query
        name: sequence_ids
        required: true
        schema:
          format: csv
          maxItems: 500
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactIdXrefs_200_response'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET a collection of V2 and V3 API contact IDs
      tags:
      - Contacts
      x-authorization-privileges:
      - contacts:read
  /contact_custom_fields/{custom_field_id}:
    delete:
      description: This DELETE request deletes a custom_field from the user's account
      operationId: deleteCustomField
      parameters:
      - description: Unique ID of the custom_field on which to operate.
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: custom_field_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Request successful; No content returned
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "415":
          description: Unsupported Media Type.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: DELETE a custom_field
      tags:
      - Contacts Custom Fields
      x-authorization-privileges:
      - contacts:write
    get:
      description: "This GET call retrieves a `custom_field` resource, specified by\
        \ `custom_field_id`."
      operationId: getCustomField
      parameters:
      - description: Unique ID of the `custom_field` on which to operate.
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: custom_field_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomField_200_response'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET a custom_field
      tags:
      - Contacts Custom Fields
      x-authorization-privileges:
      - contacts:read
    put:
      description: This PUT request updates an existing `custom_field` object.
      operationId: updateCustomField
      parameters:
      - description: Unique ID of the `custom_field` on which to operate.
        example: 04fe9a-a579-43c5-bb1a-58ed29bf0a6a
        explode: false
        in: path
        name: custom_field_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCustomField_request'
        description: The JSON payload used to update an existing custom field. Any
          properties omitted in the PUT request are overwritten with a null value.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomField_200_response'
          description: Success - custom_field updated
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "404":
          description: The requested resource was not found.
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: PUT (update) a custom_field
      tags:
      - Contacts Custom Fields
      x-authorization-privileges:
      - contacts:write
      x-sdk-methodName: updateCustomField
  /contact_custom_fields:
    get:
      description: |-
        This GET request returns all `custom_fields` defined in the user's account.
        <div class="Msg"><p class="note-text">This method does not currently support filtering results using the custom field update date.</p></div>
      operationId: getAllCustomFields
      parameters:
      - description: "Specifies the number of results displayed per page of output,\
          \ from 1 - 100, default = 50."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllCustomFields_200_response'
          description: Request successful
        "400":
          description: Bad request. Either the JSON was malformed or there was a data
            validation error.
        "401":
          description: The Access Token used is invalid.
        "403":
          description: "Forbidden request. You lack the necessary scopes, you lack\
            \ the necessary user privileges, or the application is deactivated."
        "500":
          description: There was a problem with our internal service.
        "503":
          description: Our internal service is temporarily unavailable.
      security:
      - oauth2_implicit:
        - contact_data
      - oauth2_access_code:
        - contact_data
      summary: GET custom_fields Collection
      tags:
      - Contacts Custom Fields
      x-authorization-privileges:
      - contacts:read
[...]
